main {
    display: flex;

    .container-main-chart {
        width: 100%;
        margin: 2% 5%;
    }

        .container-chart {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .div-container-chart {
                width: 100%;
            }

            .chart-item {
                display: flex;
                margin-top: 48px;
            }

            .container-card-info {
                margin-left: 20px;
            }
        }


    h1 {
        font-size: 48px;
        font-weight: 500;

        .user-name {
            color: #ff0102;
        }
    }
}