.container-piechart {
    background-color: #FBFBFB;
    width: 100%;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-piechart {
    color: #20253A;
    font-size: 15px;
    position: absolute;
    left: 30px;
    font-weight: 500;
    top: 14px;
}

.container-score {
    color: #74798C;
    position: absolute;
}

.score {
    color: #282D30;
    font-size: 30px;
    font-weight: 600;
}
