main {
    display: flex;

    .container-main-chart {
        margin-left: 100px;
        flex: 1;

        .container-chart {
            display: flex;
            justify-content: space-between;

            .chart-item {
                display: flex;
                margin-top: 48px;
            }
        }

        .container-card-info {
            margin-right: 90px;
        }
    }

    h1 {
        font-size: 48px;
        font-weight: 500;

        .user-name {
            color: #ff0102;
        }
    }
}